{% extends "leagues/base.html" %}

{% block title %}
Test Title
{% endblock %}

{% block content %}
<div class="jumbotron">
    <p>JUMBOTRON</p>
    <h1>header one</h1>
    <h2>header two</h2>
    <h3>header three</h3>
    <p>paragraph</p>
    <button class="btn btn-primary btn-lg" href="#" role="button">Test out this Button!</button>
</div>
<div class="container">
    <div class="col-xs-6">
        <h1>CONTAINER1</h1>
    </div>
    <div class="col-xs-6">
        <h1>CONTAINER2</h1>
    </div>

</div>
{% endblock %}

